<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1,
        h2 {
            margin-bottom: 0.5rem;
        }

        h1 {
            color: red;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            padding: 1rem;
        }

        a {
            margin-right: 1rem;
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Recipes</h1>
    <ul>
        <% recipes.forEach((recipe)=> { %>
            <li>
                <%= recipe.name %> - <%= recipe.description %>
                        <form action="/<%= recipe._id %>/delete" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        <form action="/<%= recipe._id %>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>
            </li>
            <% }); %>
                <a href="/new">Add a New Recipe</a>
    </ul